/*body*/
*
{
	padding: 0;
	margin: 0;
}

/*Navigation bar*/
header
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: rgba(75, 72, 72, 0.945);
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    justify-content: flex-end;
    position: fixed;

}

header .logo
{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header .logo img
{
    height: 45px;
}

header nav
{
    float: right;
}

header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul
{
    list-style: none;
}

header nav ul li a
{
    height: 55px;
    line-height: 50px;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active

{
    color: white;
    background: rgb(0, 170, 170);
}

.menu-toggle
{
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

header ul li ul
{
    position: absolute;
    background-color:rgba(97, 97, 97, 0.863);
    display: block;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

header ul li:hover ul
{
    opacity: 1;
    visibility: visible;
}

/*Banner Image*/
.banner
{
	width: 100%;
}

.banner img
{
	width: 100%;
	height: auto;
}

/*Product Select List*/
.blocks
{
    margin-top: 40px;
    width: 100%;
}
.select
{
	width: 50%;
    float: left;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;	
}

#dogSelect
{
	border: 2px solid #008CBA;
	padding: 10px 32px;
	font-size: 16px;
}

#dogSelect option
{
	background-color: #008CBA;
	border-bottom: 1px;
	color: #fff;
}

.fav
{
    width: 20%;
    float: right;
    font-size: 16px;
}

#favi:link, 
#favi:visited
{
    background-color: #008CBA;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    color: #fff;
}

#favi:hover
{
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #008CBA ;
}

.productDisplay
{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.productDisplay button 
{
    padding: 0;
    border: none;
    background: none;
    margin-top: 25px;
    position: absolute;
    left: 44%;
    top: 80%;
}

#heart 
{
    color: red;  
    font-size: 40px;
}

/*footer*/
#footer
{
    background: #333;
    color: #fff;
    padding:12px;
}

#footer p
{
    text-align: center;
}

@media(max-width: 991px)
{
    header
    {
        padding:0 20px;
    }

    .menu-toggle
    {
        display: block;
    }

    header nav
    {
        /*display: none*/
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background:#333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active
    {
        left: 0;
    }
    header nav ul
    {
        display: block;
        text-align: center;
    }

    header nav ul li a
    {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    header ul li ul
    {
    width: 100%;
    }
}